[Unit]
Description=Curator AI API Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/{{ caa_user }}
EnvironmentFile=/opt/{{ caa_user }}/.env

ExecStart=/opt/{{ caa_user }}/bin/api --host 127.0.0.1 --port 8000

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=curator-api

[Install]
WantedBy=default.target
