[Unit]
Description=Curator AI API Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory={{ app_dir }}
EnvironmentFile={{ app_dir }}/.env

ExecStart={{ app_dir }}/.venv/bin/uvicorn lib.api.app:app --host 127.0.0.1 --port 8000

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=curator-api

[Install]
WantedBy=default.target
