[Unit]
Description=Curator AI Streamlit UI
After=network-online.target curator-api.service
Wants=network-online.target curator-api.service

[Service]
Type=simple
WorkingDirectory=/opt/{{ caa_user }}
EnvironmentFile=/opt/{{ caa_user }}/.env
Environment=PATH="/home/{{ caa_user }}/.local/bin:/usr/local/bin:/usr/bin:/bin"
Environment=PROTOCOL="https://"
Environment=API_ENDPOINT="{{ domain }}/api"

ExecStart=/opt/{{ caa_user }}/bin/ui \
    --server.port 8001 \
    --server.address 127.0.0.1 \
    --browser.serverAddress {{ domain }} \
    --browser.serverPort 443

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=curator-ui

[Install]
WantedBy=default.target
