[Unit]
Description=Curator AI Background Worker
After=network-online.target curator-api.service
Wants=network-online.target curator-api.service

[Service]
Type=simple
WorkingDirectory=/opt/{{ caa_user }}
EnvironmentFile=/opt/{{ caa_user }}/.env

ExecStart={{ app_dir }}/bin/worker

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=curator-worker

[Install]
WantedBy=default.target
