[project]
name = "evagg"
version = "0.1.0"
description = "evagg"
requires-python = "==3.12.*"
authors = [
    {name = "Microsoft Biomedical Computing Group", email = "BiomedComp@microsoft.com"},
]
dependencies = [
    # General utilities
    "pydantic==1.10.16",
    "defusedxml==0.7.1",
    "ratelimit==2.2.1",
    "python-dotenv==1.0.1",
    "urllib3==2.2.2",

    # AI/ML
    "openai==1.35.10",
    "httpx==0.27.0",
    "scikit-learn==1.5.1",

    # Bioinformatics
    "biopython==1.84",

    # Scientific computing
    "numpy==2.0.0",
    "pandas==2.2.2",
    "openpyxl==3.1.4",
    "ipykernel==6.29.5",
    "jinja2==3.1.4",
    "ipywidgets==8.1.3",
    "matplotlib==3.8.4",
    "seaborn==0.13.2",
    "plotly==5.22.0",
]

[dependency-groups]
dev = [
    "black==24.4.2",
    "isort==5.13.2",
    "flake8==7.1.0",
    "pep8-naming==0.14.1",
    "flake8-bugbear==24.4.26",
    "flake8-comprehensions==3.15.0",
    "flake8-docstrings==1.7.0",
    "flake8-eradicate==1.5.0",
    "flake8-noqa==1.4.0",
    "flake8-isort==6.1.1",
    "flake8-black==0.3.6",
    "bandit==1.7.8",
    "mypy==1.10.1",
    "types-requests==2.32.0.*",
    "types-pyyaml==6.0.12.*",
    "types-retry==0.9.9.*",
    "pytest==8.2.2",
    "pytest-cov==5.0.0",
    "pytest-mock==3.14.0",
    "pytest-asyncio==0.23.7"
]

[tool.setuptools]
packages = ["lib"]

[project.scripts]
run_evagg_app = "lib.execute:run_evagg_app"

# Flake8 does not support configuration in this file, so it's configured in .flake8

[tool.black]
line-length = 120

[tool.isort]
profile = "black"
line_length = 120

[tool.mypy]
pretty = true
ignore_missing_imports = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true

# Asserts are OK.
[tool.bandit]
skips = ['B101']

[tool.coverage.run]
omit = [
    "test/*",
    "lib/scripts/*",
]

[tool.pytest.ini_options]
asyncio_mode = "auto"