name: Run Continuous Integration Tests

on:
  push:
    branches:
      - dev
      - main
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12']

    steps:
    - uses: actions/checkout@v2

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        cache-dependency-glob: |
          **/uv.lock
          **/pyproject.toml

    - name: Sync dependencies
      run: uv sync --locked --python-preference=system --group dev

    - name: Create /var/cur-ai-ss
      run: |
        sudo mkdir -p /var/cur-ai-ss
        sudo chown -R $USER:$USER /var/cur-ai-ss

    - name: Install make
      run: sudo apt-get update && sudo apt-get install -y make

    - name: Run make ci
      shell: bash -l {0}
      run: make ci

    - name: Code Coverage Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: coverage.xml
        badge: true
        fail_below_min: true
        format: markdown
        hide_branch_rate: false
        hide_complexity: true
        indicators: true
        thresholds: '50 90'
        output: file

    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: github.event_name == 'pull_request'
      with:
        recreate: true
        path: code-coverage-results.md
  
    - name: Write Code Coverage to Job Summary
      run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY
  
